<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="http://kmarriesj.com/css/main.css">

	<!-- Feed -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed/">

	<!-- Parisienne webfont -->
	<link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
		$(document).ready( function() {
			hideShow($('a.about'), $('div#about'));
			hideShow($('a.location'), $('div#location'));
			hideShow($('a.dt'), $('div#dt'));
			hideShow($('a.transportation'), $('div#transportation'));
			hideShow($('a.accommodations'), $('div#accommodations'));
			hideShow($('a.registry'), $('div#registry'));
			hideShow($('a.cat'), $('div#cat'));
			hideShow($('a.auden'), $('div#auden'));
		});
      function hideShow($a, $d) {
    		$a.click(function () {
        		$d.slideToggle();
    		});
	   };
    </script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="http://kmarriesj.com/">K & J</a></h1><br/>
            <span class='content'>{{ content }}</span>
            <div class="strike">
              <span>&</span>
            </div>
			<br/>
	    	<a href="#" class='about'>about <span class='pipe'>|</span></a><wbr>
	    	<a href="#" class='location'>location <span class='pipe'>|</span></a><wbr>
	    	<a href="#" class='dt'>date & time <span class='pipe'>|</span></a><wbr>
	    	<a href="#" class='accommodations'>accommodations <span class='pipe'>|</span></a><wbr>
        <a href="#" class='transportation'>shuttle <span class='pipe'>|</span></a><wbr>
	    	<a href="#" class='registry'>registry <span class='pipe'>|</span></a><wbr>
	    	<a href="#" class='cat'>cat <span class='pipe'>|</span></a><wbr>
	    	<a href="#" class='auden'>auden</a>
          </div>

          <div id="about" style="display:none;"><p>We're John and Katie. We think you're great. That's why we've invited you to the wedding. <br/>Click above to make more information appear. Click again to make it disappear. It's as easy as that. <br/>See you in New Orleans!</p>
          	<p><img src="/images/postcards.png" alt="Save-the-date postcards" title="A self-portrait." height='55%' width='55%'></p>
            <div class="strike">
              <span>&</span>
            </div>
          </div>
          <div id="location" style="display:none;">
          	<p>New Orleans, LA</p>
          	<p>City Park</p>
          	<p>Arbor Room at Popp Fountain</br>
            12 Magnolia Dr.</br>
            New Orleans, LA 70124</p>
            <div class="strike">
              <span>+</span>
            </div>
          </div>
          <div id="dt" style="display:none;">
          	<p>18 March 2016</p>
          	<p>Ceremony: 7.00 post meridiem</p>
          	<p>Reception: 7.30-11.30 post meridiem</p>
          	<div class="strike">
              <span>/</span>
            </div>
          </div>
          <div id="transportation" style="display:none;">
          <p>All wedding guests are invited to take the shuttle to and from the wedding venue, the Arbor Room. The shuttle buses will depart from the wedding hotel, Q & C Hotel/Bar, promptly at 6pm. (You do not have to be staying at the wedding hotel in order to take the shuttle.)</p>
          <p>The shuttle will depart from the Arbor Room and return to the Q & C at 11:30pm. If there is interest, a second bus may depart from the venue an hour earlier, at 10:30pm.</p>
          <p>If you would like to take the shuttle, please indicate your interest on your RSVP card and meet in the Q & C lobby before 6pm. The hotel address is:</p>
          <p>Q & C Hotel/Bar<br/>
          344 Camp Street<br/>
          New Orleans LA 70130</p>
          <p>If you have any questions or concerns, please feel free to <a href='mailto:johnrobertladd@gmail.com'>email us</a>.
          	<div class="strike">
              <span>&</span>
            </div>
          </div>
          <div id="accommodations" style="display:none;">
          <p>HOST HOTEL: <a href='http://www.qandc.com/'>Q & C Hotel/Bar</a>, Downtown NOLA</p>
<p>A block of rooms has been reserved for guests at the Q & C Hotel. <br/>To make a reservation, call 866-247-7936 and ask for the Collins-Ladd rate. <br/>($199/night for a standard king room, $219/night for a standard queen/queen room [2 beds]) <br/>Reservations must be made by 5pm central time on 2-26-2016 to qualify for the special guest rate. If you're not currently on a mobile device, you can <a href='https://gc.synxis.com/rez.aspx?Hotel=61552&Chain=15198&template=QandC&arrive=3/17/2016&depart=3/21/2016&adult=1&child=0&group=Collins/Ladd'>click here</a> to sign up for the group rate online.</p>

<p>Q & C Hotel/Bar<br/>
344 Camp Street<br/>
New Orleans LA 70130</p>
<p>OTHER HOTEL OPTIONS</p>
<p>If you'd like to stay at a hotel other than our host hotel, <br/>there are wonderful options nearby that would still allow you to walk to the Q & C to take the bus to the wedding. <br/>Here are a few choices, including their distance to the Q & C:</p>

<p>1. <a href='http://www.countryinns.com/new-orleans-hotel-la-70130-2424/laorlean'>Country Inn and Suites by Carlson</a> (0.1 miles)<br/>
2. <a href='http://www.saintjameshotel.com/'>St. James Hotel</a> (0.1 miles)<br/>
3. <a href='http://www.ihg.com/crowneplaza/hotels/us/en/new-orleans/msyla/hoteldetail'>Crowne Plaza Hotel</a> (0.3 miles)<br/>
4. <a href='http://www3.hilton.com/en/hotels/louisiana/hilton-new-orleans-riverside-MSYNHHH/index.html'>Hilton New Orleans Riverside</a> (0.4 miles)</br>
5. <a href='http://www.bienvillehouse.com/'>Bienville House</a> (0.4 miles)</br>
6. <a href='http://www.omnihotels.com/hotels/new-orleans-riverfront'>Omni Riverfront New Orleans</a> (0.5 miles)</p>
          	<div class="strike">
              <span>+</span>
            </div>
          </div>
          <div id="registry" style="display:none;">
            <p>Your love and celebration are more than enough, but we are registered at <a href='http://www.target.com/gift-registry/giftgiver?registryId=1Fdo16JxiVAV8Dt68J0sJQ&registryType=WEDDING'>Target</a> and at <a href='https://www.amazon.com/registry/wedding/2C0F5RCJKVNG5'>Amazon</a>.</p>
            <p>As an alternative, we've also made a <a href='https://www.wanderable.com/hm/kmarriesj/'>honeymoon registry</a>, if you would like to contribute to our trip in lieu of a gift.
            <p>To see our registries, click the links above or search for our names on any of the three registry websites. If you would like to make a charitable donation in our names instead, you can do so at <a href="http://www.feedingamerica.org/">Feeding America</a> or <a href="https://www.stjude.org/">St. Jude</a>.</p>
            <div><p>All packages and cards can be sent to the following UPS box address<br/>
              (instead of our home address):</p>
              <p>4579 Laclede Ave. #126<br/>
                St. Louis, MO 63108</p>
            <div class="strike">
              <span>/</span>
            </div>
          </div>
          <div id="cat" style="display:none;">
          <p><img src="/images/cat.jpg" alt="Cardigan, a cat." title="This is the cat. We think he's quite nice."></p>
            <div class="strike">
              <span>/</span>
            </div>
          </div>
          <div id="auden" style="display:none;">
			    <p>In Sickness and in Health<br/>
			    W.H. Auden</p>

			    Dear, all benevolence of fingering lips<br/>
				That does not ask forgiveness is a noise<br/>
				At drunken feasts where Sorrow strips<br/>
				To serve some glittering generalities:<br/>
				Now, more than ever, we distinctly hear<br/>
				The dreadful shuffle of a murderous year<br/>
				And all our senses roaring as the Black<br/>
				Dog leaps upon the individual back. <br/>
				<br/>
				Whose sable genius understands too well<br/>
				What code of famine can administrate<br/>
				Those inarticulate wastes where dwell<br/>
				Our howling appetites: dear heart, do not<br/>
				Think lightly to contrive his overthrow;<br/>
				O promise nothing, nothing, till you know<br/>
				The kingdom offered by the love-lorn eyes<br/>
				A land of condors, sick cattle, and dead flies. <br/>
				<br/>
				And how contagious is its desolation,<br/>
				What figures of destruction unawares<br/>
				Jump out on Love's imagination<br/>
				And chase away the castles and the bears;<br/>
				How warped the mirrors where our worlds are made;<br/>
				What armies burn up honour, and degrade<br/>
				Our will-to-order into thermal waste;<br/>
				How much lies smashed that cannot be replaced. <br/>
				<br/>
				O let none say I Love until aware<br/>
				What huge resources it will take to nurse<br/>
				One ruining speck, one tiny hair<br/>
				That casts a shadow through the universe:<br/>
				We are the deaf immured within a loud<br/>
				And foreign language of revolt, a crowd<br/>
				Of poaching hands and mouths who out of fear<br/>
				Have learned a safer life than we can bear. <br/>
				<br/>
				Nature by nature in unnature ends:<br/>
				Echoing each other like two waterfalls,<br/>
				Tristan, Isolde, the great friends,<br/>
				Make passion out of passion's obstacles;<br/>
				Deliciously postponing their delight,<br/>
				Prolong frustration till it lasts all night,<br/>
				Then perish lest Brangaene's worldly cry<br/>
				Should sober their cerebral ecstasy. <br/>
				<br/>
				But, dying, conjure up their opposite,<br/>
				Don Juan, so terrified of death he hears<br/>
				Each moment recommending it,<br/>
				And knows no argument to counter theirs;<br/>
				Trapped in their vile affections, he must find<br/>
				Angels to keep him chaste; a helpless, blind,<br/>
				Unhappy spook, he haunts the urinals,<br/>
				Existing solely by their miracles. <br/>
				<br/>
				That syllogistic nightmare must reject<br/>
				The disobedient phallus for the sword;<br/>
				The lovers of themselves collect,<br/>
				And Eros is politically adored:<br/>
				New Machiavellis flying through the air<br/>
				Express a metaphysical despair,<br/>
				Murder their last voluptuous sensation,<br/>
				All passion in one passionate negation. <br/>
				<br/>
				Beloved, we are always in the wrong,<br/>
				Handling so clumsily our stupid lives,<br/>
				Suffering too little or too long,<br/>
				Too careful even in our selfish loves:<br/>
				The decorative manias we obey<br/>
				Die in grimaces round us every day,<br/>
				Yet through their tohu-bohu comes a voice<br/>
				Which utters an absurd command - Rejoice. <br/>
				<br/>
				Rejoice. What talent for the makeshift thought<br/>
				A living corpus out of odds and ends?<br/>
				What pedagogic patience taught<br/>
				Preoccupied and savage elements<br/>
				To dance into a segregated charm?<br/>
				Who showed the whirlwind how to be an arm,<br/>
				And gardened from the wilderness of space<br/>
				The sensual properties of one dear face? <br/>
				<br/>
				Rejoice, dear love, in Love's peremptory word;<br/>
				All chance, all love, all logic, you and I,<br/>
				Exist by grace of the Absurd,<br/>
				And without conscious artifice we die:<br/>
				O, lest we manufacture in our flesh<br/>
				The lie of our divinity afresh,<br/>
				Describe round our chaotic malice now,<br/>
				The arbitrary circle of a vow.  <br/>
				<br/>
				That reason may not force us to commit<br/>
				That sin of the high-minded, sublimation,<br/>
				Which damns the soul by praising it,<br/>
				Force our desire, O Essence of creation,<br/>
				To seek Thee always in Thy substances,<br/>
				Till the performance of those offices<br/>
				Our bodies, Thine opaque enigmas, do,<br/>
				Configure Thy transparent justice too. <br/>
				<br/>
				Lest animal bias should decline our wish<br/>
				For Thy perfection to identify<br/>
				Thee with Thy things, to worship fish,<br/>
				Or solid apples, or the wavering sky,<br/>
				Our intellectual motions with Thy light<br/>
				To such intense vibrations, Love, excite,<br/>
				That we give forth a quiet none can tell<br/>
				From that in which the lichens live so well. <br/>
				<br/>
				That this round O of faithfulness we swear<br/>
				May never wither to an empty nought<br/>
				Nor petrify into a square,<br/>
				Mere habits of affection freeze our thought<br/>
				In their inert society, lest we<br/>
				Mock virtue with its pious parody<br/>
				And take our love for granted, Love, permit<br/>
				Temptations always to endanger it. <br/>
				<br/>
				Lest, blurring with old moonlight of romance<br/>
				The landscape of our blemishes, we try<br/>
				To set up shop on Goodwin Sands,<br/>
				That we, though lovers, may love soberly,<br/>
				O Fate, O Felix Osculum, to us<br/>
				Remain nocturnal and mysterious:<br/>
				Preserve us from presumption and delay;<br/>
				O hold us to the voluntary way.

            <div class="strike">
              <span>&</span>
            </div>
				</div>

          <div class="footer">
              <p>
                We hope you like the wedding as much as we like each other.
              </p>
          </div>
        </div>

    </body>
</html>
