<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/kmarriesj/css/main.css">

	<!-- Feed -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed/">

	<!-- Droid serif webfont -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">J + K</a></h1>
	    	<a class="extra" href="/">home</a>
	    	<a class="extra" href="/projects">projects</a>
            <a class="extra" href="/cv">cv</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Wedding Times!<br />
                <br />
                katieandjohn[at]gmail
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://zotero.org/johnrobertladd">zotero.org/johnrobertladd</a><br />
                <a href="https://twitter.com/jrlstl">twitter.com/jrlstl</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
