<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/kmarriesj/css/main.css">

	<!-- Feed -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed/">

	<!-- Parisienne webfont -->
	<link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
      function toggle_visibility(id) {
      var e = document.getElementById(id);
      if(e.style.display == 'block')
        e.style.display = 'none';
      else
        e.style.display = 'block';
      }
    </script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/kmarriesj">K & J</a></h1><br/>          
            {{ content }}
            <div class="strike">
              <span>&</span>
            </div>

	    	<a href="#" onclick="toggle_visibility('about');">about</a>
	    	<a href="#" onclick="toggle_visibility('location');">location</a>
	    	<a href="#" onclick="toggle_visibility('cat');">cat</a>
	    	<a href="#" onclick="toggle_visibility('auden');">auden</a>
          </div>

          <div id="about" style="display:none;">We're John and Katie
            <div class="strike">
              <span>&</span>
            </div>
          </div>
          <div id="location" style="display:none;">It's in New Orleans
            <div class="strike">
              <span>+</span>
            </div>          
          </div>
          <div id="cat" style="display:none;">
          <img src="/kmarriesj/images/cat.jpg" alt="Cardigan, a cat." title="This is the cat. We think he's quite nice.">
          
            <div class="strike">
              <span>/</span>
            </div>
          </div>
          <div id="auden" style="display:none;">Dear, all benevolence of fingering lips<br/>
				That does not ask forgiveness is a noise<br/>
				At drunken feasts where Sorrow strips<br/>
				To serve some glittering generalities:<br/>
				Now, more than ever, we distinctly hear<br/>
				The dreadful shuffle of a murderous year<br/>
				And all our senses roaring as the Black<br/>
				Dog leaps upon the individual back. <br/>
				<br/>
				Whose sable genius understands too well<br/>
				What code of famine can administrate<br/>
				Those inarticulate wastes where dwell<br/>
				Our howling appetites: dear heart, do not<br/>
				Think lightly to contrive his overthrow;<br/>
				O promise nothing, nothing, till you know<br/>
				The kingdom offered by the love-lorn eyes<br/>
				A land of condors, sick cattle, and dead flies. <br/>
				<br/>
				And how contagious is its desolation,<br/>
				What figures of destruction unawares<br/>
				Jump out on Love's imagination<br/>
				And chase away the castles and the bears;<br/>
				How warped the mirrors where our worlds are made;<br/>
				What armies burn up honour, and degrade<br/>
				Our will-to-order into thermal waste;<br/>
				How much lies smashed that cannot be replaced. <br/>
				<br/>
				O let none say I Love until aware<br/>
				What huge resources it will take to nurse<br/>
				One ruining speck, one tiny hair<br/>
				That casts a shadow through the universe:<br/>
				We are the deaf immured within a loud<br/>
				And foreign language of revolt, a crowd<br/>
				Of poaching hands and mouths who out of fear<br/>
				Have learned a safer life than we can bear. <br/>
				<br/>
				Nature by nature in unnature ends:<br/>
				Echoing each other like two waterfalls,<br/>
				Tristan, Isolde, the great friends,<br/>
				Make passion out of passion's obstacles;<br/>
				Deliciously postponing their delight,<br/>
				Prolong frustration till it lasts all night,<br/>
				Then perish lest Brangaene's worldly cry<br/>
				Should sober their cerebral ecstasy. <br/>
				<br/>
				But, dying, conjure up their opposite,<br/>
				Don Juan, so terrified of death he hears<br/>
				Each moment recommending it,<br/>
				And knows no argument to counter theirs;<br/>
				Trapped in their vile affections, he must find<br/>
				Angels to keep him chaste; a helpless, blind,<br/>
				Unhappy spook, he haunts the urinals,<br/>
				Existing solely by their miracles. <br/>
				<br/>
				That syllogistic nightmare must reject<br/>
				The disobedient phallus for the sword;<br/>
				The lovers of themselves collect,<br/>
				And Eros is politically adored:<br/>
				New Machiavellis flying through the air<br/>
				Express a metaphysical despair,<br/>
				Murder their last voluptuous sensation,<br/>
				All passion in one passionate negation. <br/>
				<br/>
				Beloved, we are always in the wrong,<br/>
				Handling so clumsily our stupid lives,<br/>
				Suffering too little or too long,<br/>
				Too careful even in our selfish loves:<br/>
				The decorative manias we obey<br/>
				Die in grimaces round us every day,<br/>
				Yet through their tohu-bohu comes a voice<br/>
				Which utters an absurd command - Rejoice. <br/>
				<br/>
				Rejoice. What talent for the makeshift thought<br/>
				A living corpus out of odds and ends?<br/>
				What pedagogic patience taught<br/>
				Preoccupied and savage elements<br/>
				To dance into a segregated charm?<br/>
				Who showed the whirlwind how to be an arm,<br/>
				And gardened from the wilderness of space<br/>
				The sensual properties of one dear face? <br/>
				<br/>
				Rejoice, dear love, in Love's peremptory word;<br/>
				All chance, all love, all logic, you and I,<br/>
				Exist by grace of the Absurd,<br/>
				And without conscious artifice we die:<br/>
				O, lest we manufacture in our flesh<br/>
				The lie of our divinity afresh,<br/>
				Describe round our chaotic malice now,<br/>
				The arbitrary circle of a vow.  <br/>
				<br/>
				That reason may not force us to commit<br/>
				That sin of the high-minded, sublimation,<br/>
				Which damns the soul by praising it,<br/>
				Force our desire, O Essence of creation,<br/>
				To seek Thee always in Thy substances,<br/>
				Till the performance of those offices<br/>
				Our bodies, Thine opaque enigmas, do,<br/>
				Configure Thy transparent justice too. <br/>
				<br/>
				Lest animal bias should decline our wish<br/>
				For Thy perfection to identify<br/>
				Thee with Thy things, to worship fish,<br/>
				Or solid apples, or the wavering sky,<br/>
				Our intellectual motions with Thy light<br/>
				To such intense vibrations, Love, excite,<br/>
				That we give forth a quiet none can tell<br/>
				From that in which the lichens live so well. <br/>
				<br/>
				That this round O of faithfulness we swear<br/>
				May never wither to an empty nought<br/>
				Nor petrify into a square,<br/>
				Mere habits of affection freeze our thought<br/>
				In their inert society, lest we<br/>
				Mock virtue with its pious parody<br/>
				And take our love for granted, Love, permit<br/>
				Temptations always to endanger it. <br/>
				<br/>
				Lest, blurring with old moonlight of romance<br/>
				The landscape of our blemishes, we try<br/>
				To set up shop on Goodwin Sands,<br/>
				That we, though lovers, may love soberly,<br/>
				O Fate, O Felix Osculum, to us<br/>
				Remain nocturnal and mysterious:<br/>
				Preserve us from presumption and delay;<br/>
				O hold us to the voluntary way.
				
            <div class="strike">
              <span>&</span>
            </div>
				</div>

          <div class="footer">
            <div class="contact">
              <p>
                We hope you like the wedding as much as we like each other.
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
